{% extends "AppBundle::base.html.twig" %}

{% block title %}Case Study: Calendar - SQLite data{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Profiling PHP - Demo App</h1>
                <h2>Case Study: Calendar - SQLite data</h2>
                {% for person in people %}
                <p>
                    {{ person.firstName }} {{ person.lastName }} has {{ person.calendars | length }} calendars:
                    {% for index, calendar in person.calendars %}
                        <div>
                            Calendar {{ index }} has {{ calendar.entries | length }} entries:<br>

                            {% for entry in calendar.entries %}
                                {% include 'AppBundle:CaseStudy:calendar-entry.html.twig' with {'entry': entry} %}
                            {% endfor %}
                        </div>
                    {% endfor %}
                </p>
                {% endfor %}
            </div>
            <div><a href="{{ path('case-study-overview') }}">Back to overview</a></div>
        </div>
    </div>
{% endblock %}