{% extends "AppBundle::base.html.twig" %}

{% block title %}Case Study: Overview{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Profiling PHP - Demo App</h1>
                <h2>Case Studies: Overview</h2>
                <ol>
                    <li><a href="{{ path('case-study-calendar') }}">Calendar - SQLite data</a></li>
                    <li><a href="{{ path('case-study-singleton') }}">Singleton - to be, or not to be</a></li>
                    <li><a href="{{ path('case-study-file') }}">File - multiple access</a></li>
                    <li><a href="{{ path('case-study-error') }}">Error</a></li>
                    <li><a href="{{ path('case-study-exception') }}">Exception</a></li>
                    <li><a href="{{ path('case-study-warning') }}">Warning</a></li>
                    <li><a href="{{ path('case-study-notice') }}">Warning</a></li>
                </ol>
            </div>
        </div>
    </div>
{% endblock %}